In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#one-hot encoding example

d = pd.DataFrame([['Chile', 'Colombia', 'Colombia', 'Venezuela'],['hombre', 'mujer','hombre', 'mujer']])
d = d.T
d.columns = pd.Index(['País', 'Género'])
d

        País  Género
0      Chile  hombre
1   Colombia   mujer
2   Colombia  hombre
3  Venezuela   mujer

In [5]:
pd.get_dummies(d)

   País_Chile  País_Colombia  País_Venezuela  Género_hombre  Género_mujer
0           1              0               0              1             0
1           0              1               0              0             1
2           0              1               0              1             0
3           0              0               1              0             1

In [6]:
!pip install category_encoders

Requirement already satisfied: category_encoders in d:\cursos\14. ml aplicado python\venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.14.0 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (1.21.1)
Requirement already satisfied: patsy>=0.5.1 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (1.7.0)
Requirement already satisfied: statsmodels>=0.9.0 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=0.21.1 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from category_encoders) (1.3.1)
Requirement already satisfied: six in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in d:\cursos\14. ml aplicado python\venv\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)

WARNING: You are using pip version 20.2.3; however, version 21.2.2 is available.
You should consider upgrading via the 'd:\cursos\14. ml aplicado python\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [7]:
categoricals = pd.read_csv('./Data/Intermediate_results/categoricals.csv')

In [8]:
categoricals

          director_name     actor_1_name
0         James Cameron      CCH Pounder
1           Doug Walker      Doug Walker
2        Gore Verbinski      Johnny Depp
3            Sam Mendes  Christoph Waltz
4     Christopher Nolan        Tom Hardy
...                 ...              ...
4056      Shane Carruth    Shane Carruth
4057   Neill Dela Llana      Ian Gamazon
4058    Anthony Vallone   Richard Jewell
4059        Daniel Hsia        Alan Ruck
4060           Jon Gunn      John August

[4061 rows x 2 columns]

In [9]:
categoricals = categoricals.fillna(0)

In [35]:
x = pd.read_csv('./Data/Intermediate_results/X.csv')
y = x['worldwide_gross']
x = x.drop('worldwide_gross', axis = 1)
x = x.drop('gross', axis = 1)

In [36]:
x_binenc = pd.concat([x,categoricals], axis = 1)
x_binenc.head()

,production_budget,title_year,aspect_ratio,duration.1,cast_total_facebook_likes,budget,imdb_score,director_name,actor_1_name
0,425000000.0,2009.000000,1.780000,178.000000,4834.0,2.370000e+08,7.9,James Cameron,CCH Pounder
1,306000000.0,2002.102628,2.126683,108.552703,143.0,3.712339e+07,7.1,Doug Walker,Doug Walker
2,300000000.0,2007.000000,2.350000,169.000000,48350.0,3.000000e+08,7.1,Gore Verbinski,Johnny Depp
3,300000000.0,2015.000000,2.350000,148.000000,11700.0,2.450000e+08,6.8,Sam Mendes,Christoph Waltz
4,275000000.0,2012.000000,2.350000,164.000000,106759.0,2.500000e+08,8.5,Christopher Nolan,Tom Hardy

In [37]:
import category_encoders as ce 

encoder = ce.BinaryEncoder(cols=['director_name', 'actor_1_name'])

In [38]:
x_binenc = encoder.fit_transform(x_binenc)

d:\CURSOS\14. ML aplicado Python\venv\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [39]:
from sklearn.model_selection import train_test_split

xb_train, xb_test, y_train, y_test = train_test_split(x_binenc, y)

In [40]:
x_train, x_test = (xb_train[x.columns], xb_test[x.columns])

In [41]:
from sklearn.linear_model import Lasso

model_binenc = Lasso()
model = Lasso()

In [42]:
model_binenc.fit(xb_train, y_train)
model.fit(x_train, y_train)

d:\CURSOS\14. ML aplicado Python\venv\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.9922413697348526e+18, tolerance: 8976244794517386.0
  model = cd_fast.enet_coordinate_descent(
d:\CURSOS\14. ML aplicado Python\venv\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6.274089652275749e+18, tolerance: 8976244794517386.0
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [44]:
print(model_binenc.score(xb_test,y_test))
print(model.score(x_test,y_test))

0.615364643262097
0.6094759778998156